/* Page navigation */

#mb-page-nav {
    padding: 0.8rem 12px 0;
}

#mb-page-nav a:link,
#mb-page-nav a:visited {
    color: var(--bs-secondary-color);
    text-decoration: none;
}

#mb-page-nav a:hover {
    color: var(--bs-emphasis-color);
}

#mb-page-nav a.active {
    background-color: transparent;
    color: var(--bs-emphasis-color);
}

.page-nav-title {
    display: block;
    color: var(--bs-emphasis-color);
    white-space: inherit;
    padding-left: 0.5rem;
}

.nested {
    margin-left: 5%;
}

.no-flex-wrap {
    flex-wrap: nowrap;
}
