/* Page navigation */

#mb-page-nav {
    padding: 0.8rem 12px 0 12px;
}

#mb-page-nav a:link,
#mb-page-nav a:visited {
    color: #9b9b9b;
    text-decoration: none;
}

#mb-page-nav a:hover {
    color: black;
}

#mb-page-nav a.active {
    background-color: transparent;
    color: black;
}

.page-nav-title {
    color: black;
    white-space: inherit;
}

#page-nav .nav-component .navbar-brand.page-nav-title {
    padding-left: 0.5rem;
}

.nested {
    margin-left: 5%;
}

.no-flex-wrap {
    flex-wrap: nowrap;
}
