#scroll-top-button {
    --scroll-top-button-opacity: 40%;

    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    opacity: var(--scroll-top-button-opacity);
}

#scroll-top-button:hover {
    opacity: 70%;
}

#scroll-top-button:active {
    opacity: 100%;
}
