.website-content {
    margin: 12px auto 40px auto;
    max-width: 1000px;
    overflow: hidden;
    width:90%;
}

.website-content > div {
    margin-top: 4px;
}

mark {
    background-color: yellow;
}
