blockquote {
    font-size: 14px;
}

.markbind-table {
    width: auto;
}

.radio-list-item label {
    font-weight: inherit;
}

.table-striped > thead,
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }
    
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
}
