* text=auto
* text eol=lf

# Don't do anything with binaries
*.jar binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.webp binary
*.pptx binary
