blockquote {
    border-left: 0.25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1rem;
}

code {
    word-break: normal;
}

pre > code.hljs {
    -webkit-background-clip: padding-box; /* for Safari */
    background: ghostwhite;
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border: 1px solid rgb(200, 200, 200);
    border: 1px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;
}

.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.fa.fa-anchor {
    color: #ccc;
    display: none;
    font-size: 14px;
    margin-left: 10px;
    padding: 3px;
    text-decoration: none;
}

.fa.fa-anchor:hover {
    color: #555;
}

.markbind-table {
    width: auto;
}

.radio-list-item,
.task-list-item {
    list-style-type: none;
    margin: 0 0 0 -1.2em;
}

.radio-list-item label {
    font-weight: inherit;
}

.table-striped > thead,
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fff;
}

#content-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    overflow-x: hidden;
    padding: 0 20px;
    width: 100%;
}

/* Bootstrap small(sm) responsive breakpoint */
@media (max-width: 767.98px) {
    .dropdown-menu > li > a {
        white-space: normal;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a {
        background-color: #337ab7;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }

    #content-wrapper {
        padding: 0 10px;
    }
}

/* Footer */

footer {
    background-color: #f5f5f5;
    color: dimgrey;
    padding: 10px 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#flex-div {
    flex: 1;
}
