blockquote {
    font-size: 14px;
}

.radio-list-item label {
    font-weight: inherit;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }
    
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
}
