name: "Check File Differences"
on:
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
  check-couplings:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '22'
      - run: npm run setup
      - name: Run Danger
        run: npx danger ci --dangerfile scripts/dangerfile.ts
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
